.p {
  font-family: Montserrat, sans-serif;
}

.image {
  width: 200px;
  height: 150px;
  margin-top: 20px;
  background-image: url("../../../assets/images/noCategories.png");
  background-size: cover;
}

