.container {
  display: flex;
}

.button {
  padding: 0;
  font: inherit;
  height: 50px;
  width: 150px;
  border: 2px solid black;
  color: white;
  font-weight: 700;
  font-size: 30px;
	letter-spacing: 2px;
	text-align: center;
}

.counter {
  display: table-cell;
  vertical-align: middle;
  font: inherit;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  font-weight: 700;
  font-size: 30px;
	letter-spacing: 2px;
	text-align: center;
}