.container {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  overflow: hidden;
  width: 450px;
  height: 690px;
  margin: 20px auto;
  border-radius: 14px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
  
}

.image {
  width: 450px;
  height: 300px;
  
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
  height: 330px;
  padding: 30px;
  background-color: white;
}

.span {
  display: inline-block;
  margin-bottom: 25px;
}

.h5 {
  flex-flow: row wrap;
  margin-bottom: 10px;

  font-family: "Varta", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 700;	
}

.p {
  font-family: "Varta", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;	
  color: #757C7F;
}

.btn {
  width: 125px;
  height: 40px;

  border: none;
  border-radius: 5px;  
  background-color: #58acaf;
  color: #ffffff;
}

