.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 300px;
  margin: 0 20px 0 0;
  padding: 10px;
  border: 2px solid #00E8B0;
  border-radius: 14px;
  background-color: white;
  font-weight: 700;
  font-style: italic;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  color: red;
  font-size: 10px;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 50%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.name {
  align-self: flex-start;
  white-space: pre-line;
}

.check {
  width: 20px;
  height: 20px;
  color: white;
}